div.avatar {
  width: 1em;
  font-size: 40pt;
  line-height: 1em;
  color: #FFF;
  height: 0.75em;

  &.online {
	border-left: 0.1em solid @metroGreen;
  }

  &.abscent {
	border-left: 0.1em solid @metroOrange;
  }

  &.idle {
	border-left: 0.1em solid @metroRed;
  }

  &.offline {
	border-left: 0.1em solid @greyLightest;
  }

  i.icon-user {
	font-size: 0.75em;
	position: relative;
	background: @greyLight;
	top: -0.2em;
  }
}

ul.users {
  .gridList();
  .clickableList();

  > li {
	line-height: 3em;

	> div {
	  .singleLine();

	  &.avatarContainer {
		width: 40pt;

		> .avatar {
		  font-size: 40pt;
		}
	  }
	}
  }
}