@import "variables";
@import "mixins";

#navigation {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: @pageHeaderHeight;
	font-size: @pageHeaderHeight;
	background: #003344;
	.transition(left, @transitionSpeedSlow);

	h1, h2, h3, h4, h5 {
		color: #FFF;
	}

	ul {
		margin-left: @roomNavigationWidth;
		font-size: 1.2em;

		li {
			height: @pageHeaderHeight;
			padding: 0 @paddingSmall;
			margin: 0 @paddingSmall;
			.transition(background);

			&.home {
				&:hover, &:focus, &.active {
					background: @metroRed;
				}
			}

			&.settings {
				&:hover, &:focus, &.active {
					background: @metroGreen;
				}
			}

			&.contacts {
				&:hover, &:focus, &.active {
					background: @metroOrange;
				}
			}

			&.rooms {
				&:hover, &:focus, &.active {
					background: @metroBlue;
				}
			}

			&.currentUser {
				float: right;
				margin-right: @paddingBig;

				&:hover, &:focus, &.active {
					background: @metroOrange;
				}

				a {
					width: auto;
				}

				i.icon-user {
					padding: 0;
					color: #FFF;
					float: left;
					font-size: @pageHeaderHeight * 0.7;
					line-height: @pageHeaderHeight;
				}

				.username {
					float: right;
					margin-left: @paddingNormal;
					width: auto;
					font-size: 0.3em;
					line-height: @pageHeaderHeight;
					color: #FFF;
				}
			}

			a {
				vertical-align: top;
				display: inline-block;
				height: 100%;
				width: @pageHeaderHeight;
				font-size: @pageHeaderHeight;
				line-height: @pageHeaderHeight - @paddingNormal;
				text-align: center;

				i {
					vertical-align: top;
					padding: @paddingNormal 0;
					font-size: @pageHeaderHeight - (2 * @paddingNormal);
					color: #FFF;
				}
			}
		}
	}
}