@colorHighlighting: 20%;

@grey: #999;
@greyLight: #CCC;
@greyLightest: #EEE;

@fontColor: #000;
@fontColorLight: @grey;

@metroRed: #C00;
@metroGreen: #0C0;
@metroBlue: #09F;
@metroOrange: #F90;
@metroPink: #F09;
@metroDarkBlue: #034;

@linkColor: #09F;
@linkColorHighlighted: lighten(#0099ff, @colorHighlighting);

@paddingBig: 20pt;
@paddingNormal: 10pt;
@paddingSmall: 5pt;

@transitionSpeed: 100ms;
@transitionSpeedSlow: 500ms;

@iconSmall: 8pt;

@fontSizeText: 10pt;

/* Page settings */

@pageHeaderHeight: 40pt;
@contextBarHeight: 50pt;
@roomNavigationWidth: 200pt;

/* Media thresholds */
@mediaSmallWidth: 768px;
@mediaMiddleWidth: 1024px;
@mediaBigWidth: 1280px;