.dashboard .gridster .gs_w {
	box-sizing: border-box;
	padding: 5pt;
	cursor: move;
}

.dashboard .gridster .gs_w > div {
	box-sizing: border-box;
	height: 100%;
	border: 1px solid #CCC;
	box-shadow: 0 0 5px #CCC;
	background: #FFF;
}